input:focus, button:focus {outline:none; border:none; padding: 4px;}
.flex{
	display: flex;
}
a{color: #fff;}
*{
	padding:0;
	margin: 0; 
	text-decoration:none;
	font-family: 'Montserrat', sans-sclerif;
}

@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-ExtraLight.ttf) format("truetype");
}
#nav{
	z-index: 10;
	width: 100%;
	height: 60px;
	position: fixed;
	background: #2196f3;
	display:flex;
	text-align: center;
	align-items: center;
	margin-bottom: 70px;
}
#nav p{
	color: white;
	font-weight: bold;
	margin-left: 20px;
	font-size: 35px;
} 
#nav img{
	margin-left: auto;
	margin-right: 30px;
	width: 30px;
	height: 30px;
}
#nav-menu{
	padding-top: 60%;
	text-align: center;
	color: #212121;
	font-size: 20px;
	z-index: 10;
	width: 100%;
	height: calc(100vh - 60px);
    position: fixed;
    background: #f1f1f1;
    margin-top: 60px;
    transform: translateX(-100%);
    transition: all 0.2s linear;
}
#nav-menu .a{
	width: 100%;
	color: #000;
	height: 60px;

}
#nav-menu .a a{
	color: #000;
	font-size: 30px;
	font-weight: bold;
}
.tag-frame{
	text-align: center;
	align-items: center;
	width: 100%;
	transform: translateY(70px);
	overflow-x: scroll;
	padding-bottom: 10px;
}
.tag-frame a{color: #000;}
.tags{
	background: #f1f1f1;
	font-size: 17px;
	border-radius: 50px;
	margin-left: 20px;
	padding:7px; 
	min-width: 120px;
	text-align: center;
	white-space:nowrap;
	overflow: hidden;
}
.tag-frame::-webkit-scrollbar {
  height: 0.4em;
}
 
.tag-frame::-webkit-scrollbar-track {
	background: #f5f5f5;

}
 
.tag-frame::-webkit-scrollbar-thumb {
  background-color: darkgrey;
 border-radius:7px; 
 opacity: 0.7;
}
.active{
	background: #65fd71;
	color:#fff;
	font-weight: bold;
}
#gal{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  grid-auto-flow: dense;
  grid-gap: 15px;
  margin-top: 130px;
  max-width: 1200px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 4px;
  padding-right: 10px;
}
#gal .i{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}
#gal .h{
grid-row-end: span 2;
}
#gal .w{
	grid-row-end: span 1;
}
form{
	width: 96%;
	max-width: 400px;
	height: 45px;
	border-radius: 50px;
	background: #f5f5f5;
	margin-left: auto;
	margin-right: auto;
	transform: translateY(100px);
	overflow: hidden;
	margin-bottom: 30px;
	display: flex;
	box-shadow: 0px 3px 8px -5px #666666; 
}
 form input{
	width: 80%;
	height: 100%;
	background: none;
	border: none;
	padding-left: 12px;
	font-size: 18px;
}
 form button {
	width: 20%;
	font-weight: bold;
	height: 100%;
	text-align: center;	
	background: none;
	cursor: pointer;
	border: none;
}
.serch-box button:hover{
	color: #2196f3;
}
.hdr{
	height: 50px;
}

.bf, .saveds img{
	padding: 4px;
	width: 100%;
	border-radius:10px;
	background: #f5f5f5;
	text-align: left;
box-shadow: 0px 3px 8px -6px #666666; 
}

.saveds img{
	height: 200px;
}
.bf div{
	display: flex;
	width: 100%;
}
.bf #li{
	width: 25px;
	height: 25px;
	margin: 4px;
	margin-left: 10px;
	opacity: 0.7;
}
.bf p {
	font-size: 16px;
	margin-top: 6px;
	font-weight: bold;
	opacity: 0.7;
}

#cr{
	margin-left: auto;
	margin-right: 3px;
	background: #65a2fd;
	border-radius:50px;
	font-size: 13px;
	padding: 4px; 
	height: auto;
	margin-top: 6px;
height: 20px;
color: #fff;
font-weight: bold;
transition: all 0.1s;
cursor: pointer;
}
#cr:hover{
 transform: scale(1.1);
}
.footer{
	align-items: center;
	width: 100%;
	height: 100px;
	background: #2196f3;
	text-align: center;
	display: flex;
	margin-top: 40px;
}
.footer p{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}
.p-active{
	color: #2196f3;
}
.pages, .pages p{
	display: flex;
	font-size: 23px;
	font-weight: bold;
}
.pages {
	text-align: center;
	width: 100%;
	display: block;
}
#child-nav{
	width: auto;
	margin-left: auto;
	height: 100%;
	display: none;
	align-items: center;
	text-align: right;
	color: #fff;
	padding-right: 40px;
	font-size: 18px;
	font-weight: bold;
}
#child-nav a{
	margin-left: 14px;
	margin-right: 14px;
	transition: all 0.14s;
}

#child-nav a:hover{
transform: scale(1.2);
}
#imd{
	max-width: 450px;
	width: 96%;
	height: auto;
	margin: 2%;
	border-radius: 10px;
	margin-left:auto;
	margin-right: auto; 
}

#dwbn, #shbn{
	margin-left:auto;
	margin-right: auto; 
	max-width: 450px;
	width: 92%;
	border-radius: 50px;
	margin: 2%;
	height: 50px;
	border:none;
	font-size: 23px;
	font-weight: bold;
	color: #fff;
	background: #2196f3;
}
#dwbn{
	margin-top: 30px;
}
.dwbd{
	width: 100%;
	text-align: center;
}
.wd{width: 100%;}
.back{
	z-index: 12;
	position: fixed;
	top: 15px;
	left: 15px;
	background: #000;
	opacity: 0.9;
	width: 40px;
	height: 40px;
	border-radius: 50px; 
}
#donw{
	font-size: 22px;
	z-index: 20;
	color: #000;
}
.info-img{
	margin-left:auto;
	margin-right: auto;
	max-width: 450px;
	width: 100%;
}
.info-img .ps {
	margin-left: auto;
	margin-right: 15px;
	font-weight: bold;
	font-size: 20px;
	color: #676666;
}
.psd{
	margin-left: 15px;
	margin-right: 15px;
	font-weight: bold;
	font-size: 20px;
	color: #676666;
}
.back img{
	width: 40px;
	height: 40px;
	transform: translateX(-1px) scale(0.8);
}

.red{
	margin-left: auto;
	margin-right: 3px;
	border-radius:50px;
	font-size: 13px;
	padding: 4px; 
	height: auto;
	margin-top: 6px;
height: 20px;
color: #fff;
font-weight: bold;
transition: all 0.1s;
cursor: pointer;

  background: red;
}
.mar{
	transform: translateY(-60px);
}
.h3{
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	transform: translateY(50px);
}

.more{
	width: 150px;
	background: #2196f3;
	border-radius: 50px;
	height: 42px;
	padding-top: 10px;
	padding-left: 14px;
	padding-right: 14px;
	color: #fff;
	margin:0  auto ;
	align-items: center;
	text-align: center;
	font-size: 22px;
	margin-top: 20xp;
	font-weight: bold;
	cursor: pointer;
	transform: translateY(15px);
	transition: all 0.2s;
}
.more:hover{
	opacity: 0.8;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  padding: 10px;
box-sizing: border-box;
  border-radius: 50px;
  transition: 0.2s all;
  width: 50px;
  height: 50px;
}

#myBtn:hover {
  opacity: 0.5;
}
#toast{
	width: 100%;
	text-align: center;
	height: 60px;
	background: #f5f5f5;
	padding-top: 20px;
	position: fixed;
	bottom: 0;
	z-index: 12;
	transition: all 0.2s;
	display: none;
	border-top: 2px solid #2196f3;
}
#toast p{
	font-weight: bold;
	font-size: 23px;
	color: #2196f3;
}

#del{
	width: 240px;
	height: 80px;
	background: red;
	display: none;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	top: 20px;
	right: 40%;
	border-radius: 150px;
	z-index: 11;
	color: #fff;
	font-weight: bold;
	padding-top: 0px;
	box-sizing: border-box;
	align-items: center;
	text-align: center;	
	overflow: hidden;
}
#del p{
	width: 100%;
	text-align: center;
}

/* Screen larger than 900px? 4 columns */
@media (min-width: 800px) {
  #nav img{display: none;}
  #child-nav{display: flex;}
  #nav p{margin-left: 50px;}
}

































