form{
	margin-top: 120px;
}
.title{
	font-weight:bold;
	font-size: 40px;
	color: #2196f3;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	transform: translateY(180px); 
}

